extends layout

block content
  h1= title
  p Please enter invite code : 123456
  form(action="/join-the-club", method="post") 
    div(class="form-floating mb-3")
      input(type="text", class="form-control", id="inviteCode", name="inviteCode" required)
      label(for="inviteCode") Invite Code

    button(type="submit" class="btn btn-primary") Join
  
  if errors
    ul(class="text-danger m-2")
      for error in errors 
        li!= error.msg
