extends layout

block content
  h1= title
  form(action="/sign-in", method="post") 
    div(class="form-floating mb-3")
      input(type="text", class="form-control", id="username", name="username" required value=user? user.username : '')
      label(for="username") Username

    div(class="form-floating mb-3")
      input(type="password", class="form-control", id="password", name="password" required)
      label(for="password") Password

    button(type="submit" class="btn btn-primary") Log in
  
  if error_msg
    div(class="text-danger m-2") #{error_msg}
